
body {
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

#header {
  display: block;
  background-color: white;
  padding: 0.5em;
}

#header span {
  color: #6d6d6d; /* Stone Grey */
}

#header a {
  color: black;
}

#displays i {
  color: black;
}

.notice {
  color: lightgrey;
}

.marklet-button, .marklet-text {
  display: block;
  background-color: #8a2be2; /* Blue Purple */
  color: white;
  float: right;
  padding: 0.5em;
}

#displays div {
  background-color: white;
  padding: 0.5em;
  margin: 1.5em;
}

.category {
  color: orange;
}

.category a {
  color: green;
}

.install {
  color: lightgrey;
  font-weight: bold;
}

h2 {
  color: green;
}

.notice a {
  color: orange;
}

#header i {
  color: #8a2be2; /* Blue Purple */
}
